*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
}

#d1{
    height:35px;
    width: 100%;
    background-color: gray;
    color: white;
}

#h1{
float: left;
padding: 8px 10px 8px 60px;
font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#h2{
    float: right;
    padding: 8px 40px 8px 10px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header p a{
    color: white;
}

#d2{
    background-color: black;
    padding: 0px 10px  10px 30px;
    height: 100px;
}

.bi-person{
padding: 5px 30px 70px 30px;
}

.bi-person, .bi-globe2{
    font-size: 17px;
}

#d2 button{
    background-color: black;
    border: none;
    color: white;
}

#btn{
  font-size: 14px;  
}


header i,span{
    color: white;
}

#d2 h3{
    color: white; 
    display: inline;
    margin-left: 380px;
    margin-right: 450px;
    font-size: 29px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#d3 a{
    color: white;
    padding-right: 20px;
}

aside{
    width: 330px;
    padding: 40px 0px 400px 50px;
    background-color:white;
    margin-right: 60px;
}

aside h4{
    line-height: normal;
}

#p1{
    font-size: 15px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}

.h4{
    display: inline;
}

aside{
float: left;
height: max-content;
}

aside i{
    float: right;
}

aside .b1
{
    background-color: white;
    border: none;
    float: right;
}


.b1:hover{
    cursor: pointer;
}

/* .right{
 margin-top: 90px;   
} */
/* 
.right{
 float: right;   
 display: block;
} */

#s1{
    margin-top: 2%;
    margin-bottom: 0%;
    margin-right: 3.5%;
    float: right;
    border: 1px solid gray;
    border-radius: 3px;
    padding: 8px 8px;
    font-size: medium;
    color: grey;
}

/* main .img1{
    margin-top: 5%;
    margin-right:15px ;
    display: inline-block;
}

#img1{
    margin-top: 1%;
    margin-right: 20px;
    display: inline-block;
} */

.img3{
    margin-top: 3%;
    margin-right: 3%;
}

/* #div1{
display: inline;
width: 5%;
margin-left: 400px;
margin-right: 30px;
} */

/* in order to display items in columns, use items in flexbox container  */

/* display flex helps to display all the items in flex layout */

.flexbox-container{
display: flex;
}

.flex-item1{
    padding: 0%;
    width:24%;
    margin-left:1px;
    margin-right: 9.1%;
    display: inline;
}

.flex-item2, .flex-item3{
    padding: 0%;
    margin-left: 0%;
    margin-right: 9.1%;
    width:24%;
}

.flexbox1{
    display: flex;
    margin-top: 5%;
}

.flexitem1{
    margin-right: 5%;
}

.flexbox-container1{
    display: flex;
}

.flex_item1{
    padding: 0%;
    margin-left: 0%;
    margin-right: 2%;
    width:25%;
}

.flexbox3{
    display:flex;
    background-color: rgb(232, 230, 230);
    padding: 50px;
    height: 90%;
}

.flexitem_1{
    width:500px;
}

#btn2:hover{
    cursor: pointer;
    color: black;
    border-color: black;
}

.bi-youtube .bi-facebook, .bi-twitter, .bi-instagram{
    color: black;
    margin-right: 30px;
}

.flexitem_2{
    margin-left: 350px;
    color:  black;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 13px;
}

.flexbox4{
    background-color: white;
    display: flex;
    margin: 40px;
}

.flexbox4 ul a,li{
    text-decoration: none;
    list-style-type: none;
    color: grey;
    
}

.flexitem41 li {
font-size: 13px;
padding-left: 0px;
line-height: 3;
}

.li1:hover{
color: black;
}

/* .flexitem41{
    margin-left: 30px;
} */

.flexitem41 p{
    line-height: 2;
    font-size: 13px;
    font-weight:bold;
    margin-left: 39px;
    width:150px;
}

.flexitem42{
    color: grey;
    margin-left: 300px;
}

.flexitem42 p{
    line-height: 2;
    font-size: 13px;
    font-weight: bold;
    margin-left: 39px;
    width:150px;
}

.flexitem42 li{
    font-size: 13px;
    line-height: 3;
}

.flexitem42 li:hover{
    color: black;
}

.flexitem43{
    color: gray;
    margin-left: 300px;
}

footer{
    overflow: hidden;
    overflow-x: scroll;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}

.form{
display: none;
position: absolute;
background-color: white;
min-width: 100px;
color: black;
z-index: 1;
}

#user:hover .form{
 display:block; 
}

.span1{
cursor: pointer;
text-decoration: none;
color: black;
}

.bag1{
    background-color: blue;
    padding: 20px 10px;
    width: 300px;
    height: 400px;
    visibility: hidden ;
}
